
<footer class="footer py-4 js-page-footer">
  <div class="main">

    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <div itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </div>
    {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
    {%- assign _locale_copyright_dates = __return -%}
    <div class="site-info mt-2">
      </div>
        <p><center>
          <div id="clustrmaps-widget" style="width:100%">
            <!-- <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=O9L03NMzwOdTBUqxPCqMkdoYXtllPI6Xr58X9cIKA1w&cl=ffffff&w=a"></script> -->
            <a href="https://clustrmaps.com/site/1bslu" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=O9L03NMzwOdTBUqxPCqMkdoYXtllPI6Xr58X9cIKA1w&cl=ffffff"></a>
            <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=O9L03NMzwOdTBUqxPCqMkdoYXtllPI6Xr58X9cIKA1w"></script> -->
      </div>
      <div>
        {%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
        {%- assign _locale_copyright_dates = __return -%}
        <!-- © {{ site.title }} {{ _locale_copyright_dates }}. -->
        <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }} | All Rights Reserved. </p>
      </div>
    </div>
  </div>
</footer>
